﻿

@page "/ecs/floor3"
@using Masa.Blazor
@using XT.Common.Extensions
@using XT.Common.Enums
@using Microsoft.AspNetCore.Authorization
@using BlazorShared.Layout

@layout BlazorShared.Shared.MainLayout
@inherits CultureComponentBase
@attribute [Authorize]
@using XT.Common.Attributes
@attribute [Page("/ecs/floor3", "三楼", "mdi-home-floor-3", true)]

<div>ok</div>