@page "/ecs/one"
@using Masa.Blazor
@using XT.Common.Extensions
@using XT.Common.Enums
@using Microsoft.AspNetCore.Authorization
@using BlazorXT.Layout

@layout BlazorXT.Shared.MainLayout
@inherits CultureComponentBase
@attribute [Authorize]
@using XT.Common.Attributes
@attribute [Page("/ecs/one", "1Floor", "mdi-home-floor-1", true)]

<div>ok</div>
